In [9]:
import pandas as pd
from sql_functions import *

In [10]:
pd.set_option('display.max_rows', 6000)
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_colwidth', None) # to show complete content of cell

In [11]:
def change_col_names(df):
    col_labels = df.columns.tolist()
    new_col_labels = [l.lower().replace(" ", "_").replace("ä", "ae").replace("ö", "oe").replace("ü", "ue").replace('\n', '_') for l in col_labels]
    df.columns = new_col_labels

In [12]:
einw_bund_altersgruppen_geschlecht = pd.read_excel("data/Bevoelkerungszahlen_EDA_Jugendkriminalitaet/einw_altersgr_geschlecht_bund_2022-2018.xlsx")

In [13]:
change_col_names(einw_bund_altersgruppen_geschlecht)

In [14]:
einw_bund_altersgruppen_geschlecht

,sexus,stichtag,year,kinder_10_bis_unter_12,kinder_12_bis_unter_14,kinder_10_bis_unter_14,kinder_unter_14,jugendliche_14_bis_unter_16,jugendliche_16_bis_unter_18,jugendliche_14_bis_unter_18,heranwachsende_18_bis_unter_21,jugendliche_und_heranwachsende_14_bis_unter_21,erwachsene_ab_21_bzw_ueber_20,insgesamt
0,M,31.12.2017,2018,750663,759916,1510579,5356215,777037,835040,1612077,1387429,2999506,32487844,40843565
1,W,31.12.2017,2018,707164,717794,1424958,5068316,730429,771109,1501538,1244915,2746453,34134017,41948786
2,X,31.12.2017,2018,1457827,1477710,2935537,10424531,1507466,1606149,3113615,2632344,5745959,66621861,82792351
3,M,31.12.2018,2019,764922,752947,1517869,5414141,773999,804803,1578802,1358425,2937227,32615323,40966691
4,W,31.12.2018,2019,722953,709736,1432689,5125052,729974,749459,1479433,1230098,2709531,34217939,42052522
5,X,31.12.2018,2019,1487875,1462683,2950558,10539193,1503973,1554262,3058235,2588523,5646758,66833262,83019213
6,M,31.12.2019,2020,762729,761433,1524162,5470714,770350,789370,1559720,1322840,2882560,32684339,41037613
7,W,31.12.2019,2020,721310,716935,1438245,5180039,726979,740450,1467429,1208629,2676058,34273001,42129098
8,X,31.12.2019,2020,1484039,1478368,2962407,10650753,1497329,1529820,3027149,2531469,5558618,66957340,83166711
9,M,31.12.2020,2021,762929,774238,1537167,5517422,761966,784007,1545973,1275630,2821603,32687494,41026519
10,W,31.12.2020,2021,721245,731512,1452757,5225208,717422,737919,1455341,1180943,2636284,34267020,42128512
11,X,31.12.2020,2021,1484174,1505750,2989924,10742630,1479388,1521926,3001314,2456573,5457887,66954514,83155031
12,M,31.12.2021,2022,764142,772076,1536218,5573236,770658,781690,1552348,1243691,2796039,32697510,41066785
13,W,31.12.2021,2022,723124,729251,1452375,5278831,724228,734616,1458844,1158400,2617244,34274264,42170339
14,X,31.12.2021,2022,1487266,1501327,2988593,10852067,1494886,1516306,3011192,2402091,5413283,66971774,83237124

In [15]:
schema='public'
table_name = 'einw_bund_altersgruppen_geschlecht_2022_until_2018'
engine = get_engine()
print(engine)

Engine(postgresql://user:***@host/database)

In [16]:
if engine!=None:
    try:
        einw_bund_altersgruppen_geschlecht.to_sql(table_name, # Name of SQL table
                        con=engine, # Engine or connection
                        if_exists='replace', # Drop the table before inserting new values 
                        schema=schema, # your class schema
                        index=False, # Write DataFrame index as a column
                        chunksize=5000, # Specify the number of rows in each batch to be written at a time
                        method='multi') # Pass multiple values in a single INSERT clause
        print(f"The {table_name} table was imported successfully.")
    # Error handling
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        engine = None

The einw_bund_altersgruppen_geschlecht_2022_until_2018 table was imported successfully.