In [36]:
import pandas as pd
from sql_functions import *

In [37]:
pd.set_option('display.max_rows', 6000)
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_colwidth', None) # to show complete content of cell

In [38]:
bund_tat_all = get_dataframe(f'select * from public.bund_tat_2022_until_2018')

In [39]:
bund_tat_all.head()

,schluessel,straftat,sexus,tatverdaechtige_insgesamt,kinder_bis_unter_6,kinder_6_bis_unter_8,kinder_8_bis_unter_10,kinder_10_bis_unter_12,kinder_12_bis_unter_14,kinder_unter_14,jugendliche_14_bis_unter_16,jugendliche_16_bis_unter_18,jugendliche_14<18,heranwachsende_18_bis_unter_21,tatverdaechtige_unter_21,erwachsene_21_bis_unter_23,erwachsene_23_bis_unter_25,erwachsene_21<25,erwachsene_25_bis_unter_30,erwachsene_30_bis_unter_40,erwachsene_40_bis_unter_50,erwachsene_50_bis_unter_60,erwachsene_60_und_aelter,erwachsene_ab_21,year
0,------,Straftaten insgesamt,M,1541130,2310,2518,6071,11882,25507,48288,52244,76029,128273,147013,323574,94106,86933,181039,209471,334326,222483,161232,109005,1217556,2018
1,------,Straftaten insgesamt,W,510136,1986,1057,1904,4377,12991,22315,24451,24707,49158,38510,109983,24699,23863,48562,61746,106744,76499,59775,46827,400153,2018
2,------,Straftaten insgesamt,X,2051266,4296,3575,7975,16259,38498,70603,76695,100736,177431,185523,433557,118805,110796,229601,271217,441070,298982,221007,155832,1617709,2018
3,000000,Straftaten gegen das Leben,M,3122,0,2,1,4,5,12,27,118,145,342,499,216,203,419,438,652,449,407,258,2623,2018
4,000000,Straftaten gegen das Leben,W,599,0,0,0,0,2,2,7,16,23,21,46,25,24,49,72,136,116,118,62,553,2018

### Create DataFrame that can be used for EDA juvenile crime:
* delete columns with age groups we don´t need
* summarize age groups
* filter for keys "schluessel" we decided to look at

In [40]:
df_1 = bund_tat_all.copy()
columns_df_1 = df_1.columns.tolist()
columns_df_1

['schluessel',
 'straftat',
 'sexus',
 'tatverdaechtige_insgesamt',
 'kinder_bis_unter_6',
 'kinder_6_bis_unter_8',
 'kinder_8_bis_unter_10',
 'kinder_10_bis_unter_12',
 'kinder_12_bis_unter_14',
 'kinder_unter_14',
 'jugendliche_14_bis_unter_16',
 'jugendliche_16_bis_unter_18',
 'jugendliche_14<18',
 'heranwachsende_18_bis_unter_21',
 'tatverdaechtige_unter_21',
 'erwachsene_21_bis_unter_23',
 'erwachsene_23_bis_unter_25',
 'erwachsene_21<25',
 'erwachsene_25_bis_unter_30',
 'erwachsene_30_bis_unter_40',
 'erwachsene_40_bis_unter_50',
 'erwachsene_50_bis_unter_60',
 'erwachsene_60_und_aelter',
 'erwachsene_ab_21',
 'year']

In [41]:
df_2 = df_1[['schluessel', 'straftat', 'sexus', 'tatverdaechtige_insgesamt','kinder_10_bis_unter_12', 'kinder_12_bis_unter_14', 'kinder_unter_14', 'jugendliche_14_bis_unter_16', 'jugendliche_16_bis_unter_18', 'jugendliche_14<18', 'heranwachsende_18_bis_unter_21', 'erwachsene_ab_21', 'year']]
df_2.head(3)

,schluessel,straftat,sexus,tatverdaechtige_insgesamt,kinder_10_bis_unter_12,kinder_12_bis_unter_14,kinder_unter_14,jugendliche_14_bis_unter_16,jugendliche_16_bis_unter_18,jugendliche_14<18,heranwachsende_18_bis_unter_21,erwachsene_ab_21,year
0,------,Straftaten insgesamt,M,1541130,11882,25507,48288,52244,76029,128273,147013,1217556,2018
1,------,Straftaten insgesamt,W,510136,4377,12991,22315,24451,24707,49158,38510,400153,2018
2,------,Straftaten insgesamt,X,2051266,16259,38498,70603,76695,100736,177431,185523,1617709,2018

In [42]:
# add 2 age groups:
df_2["kinder_10_bis_unter_14"] = df_2["kinder_10_bis_unter_12"] + df_2["kinder_12_bis_unter_14"]
df_2["jugendl_u_heranwachsende_14_bis_unter_21"] = df_2["jugendliche_14<18"] + df_2["heranwachsende_18_bis_unter_21"]

# bring columns in correct order:
df_3 = df_2[['schluessel', 'straftat', 'sexus', 'tatverdaechtige_insgesamt','kinder_10_bis_unter_12', 'kinder_12_bis_unter_14', 'kinder_10_bis_unter_14', 'kinder_unter_14', 'jugendliche_14_bis_unter_16', 'jugendliche_16_bis_unter_18', 'jugendliche_14<18', 'heranwachsende_18_bis_unter_21', 'jugendl_u_heranwachsende_14_bis_unter_21', 'erwachsene_ab_21', 'year']]
df_3.head()

/var/folders/1s/wcz2lmzj3ql58wp26sv0rw3h0000gn/T/ipykernel_4352/4248230725.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2["kinder_10_bis_unter_14"] = df_2["kinder_10_bis_unter_12"] + df_2["kinder_12_bis_unter_14"]
/var/folders/1s/wcz2lmzj3ql58wp26sv0rw3h0000gn/T/ipykernel_4352/4248230725.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2["jugendl_u_heranwachsende_14_bis_unter_21"] = df_2["jugendliche_14<18"] + df_2["heranwachsende_18_bis_unter_21"]

,schluessel,straftat,sexus,tatverdaechtige_insgesamt,kinder_10_bis_unter_12,kinder_12_bis_unter_14,kinder_10_bis_unter_14,kinder_unter_14,jugendliche_14_bis_unter_16,jugendliche_16_bis_unter_18,jugendliche_14<18,heranwachsende_18_bis_unter_21,jugendl_u_heranwachsende_14_bis_unter_21,erwachsene_ab_21,year
0,------,Straftaten insgesamt,M,1541130,11882,25507,37389,48288,52244,76029,128273,147013,275286,1217556,2018
1,------,Straftaten insgesamt,W,510136,4377,12991,17368,22315,24451,24707,49158,38510,87668,400153,2018
2,------,Straftaten insgesamt,X,2051266,16259,38498,54757,70603,76695,100736,177431,185523,362954,1617709,2018
3,000000,Straftaten gegen das Leben,M,3122,4,5,9,12,27,118,145,342,487,2623,2018
4,000000,Straftaten gegen das Leben,W,599,0,2,2,2,7,16,23,21,44,553,2018

In [43]:
ausgew_keys = ["------", "010000", "020010", "220000", "100000", "232100", "232200", "435*00", "*26*00", "210000", "730000", "891100", "674000"]

In [44]:
df_4 = df_3[df_3["schluessel"].isin(ausgew_keys)]
df_4.reset_index(inplace=True)
df_4.drop(columns="index", inplace=True)
df_4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195 entries, 0 to 194
Data columns (total 15 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   schluessel                                195 non-null    object
 1   straftat                                  195 non-null    object
 2   sexus                                     195 non-null    object
 3   tatverdaechtige_insgesamt                 195 non-null    int64
 4   kinder_10_bis_unter_12                    195 non-null    int64
 5   kinder_12_bis_unter_14                    195 non-null    int64
 6   kinder_10_bis_unter_14                    195 non-null    int64
 7   kinder_unter_14                           195 non-null    int64
 8   jugendliche_14_bis_unter_16               195 non-null    int64
 9   jugendliche_16_bis_unter_18               195 non-null    int64
 10  jugendliche_14<18                         195 non-null    int64
 11  heranwachsende_18_bis_unter_21            195 non-null    int64
 12  jugendl_u_heranwachsende_14_bis_unter_21  195 non-null    int64
 13  erwachsene_ab_21                          195 non-null    int64
 14  year                                      195 non-null    object
dtypes: int64(11), object(4)
memory usage: 23.0+ KB

/var/folders/1s/wcz2lmzj3ql58wp26sv0rw3h0000gn/T/ipykernel_4352/961183621.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_4.drop(columns="index", inplace=True)

In [45]:
df_4["year"] = df_4["year"].astype("int")

/var/folders/1s/wcz2lmzj3ql58wp26sv0rw3h0000gn/T/ipykernel_4352/1835503889.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_4["year"] = df_4["year"].astype("int")

### aggregating "Mord" und "Totschlag" and adding equivalent rows:

In [46]:
agg_keys = ["010000", "020010"]

keys_as_string = ""
for i in agg_keys:
    j = i + ", "
    keys_as_string += j
df_5 = df_4[df_4["schluessel"].isin(agg_keys)]
keys_as_string = keys_as_string[0:-2]

gender = ["M", "W", "X"]
year = [2018, 2019, 2020, 2021, 2022]
row_labels = []

df_6 = df_5.copy()
        
for y in year:
    for g in gender:
        row_label = g + str(y)
        df_6.loc[row_label] = df_6[(df_6["sexus"] == g) & (df_6["year"] == y)].sum()
        df_6.loc[row_label, "schluessel"] = keys_as_string
        df_6.loc[row_label, "sexus"] = g
        df_6.loc[row_label, "year"] = y
        row_labels.append(row_label)

for l in row_labels:
    df_4.loc[l] = df_6.loc[l]

#drop Mord und Totschlag seperate
df_4 = df_4[df_4['schluessel'].isin(["------", "010000, 020010", "220000", "100000", "232100", "232200", "435*00", "*26*00", "210000", "730000", "891100", "674000"])]

df_4.reset_index(inplace=True)
df_4.drop(columns="index", inplace=True)

df_4.head()

/var/folders/1s/wcz2lmzj3ql58wp26sv0rw3h0000gn/T/ipykernel_4352/574245224.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_4.loc[l] = df_6.loc[l]
/var/folders/1s/wcz2lmzj3ql58wp26sv0rw3h0000gn/T/ipykernel_4352/574245224.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_4.loc[l] = df_6.loc[l]
/var/folders/1s/wcz2lmzj3ql58wp26sv0rw3h0000gn/T/ipykernel_4352/574245224.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_4.loc[l] = df_6.loc[l]
/var/folders/1s/wcz2lmzj3ql58wp26sv0rw3h0000gn/T/ipykernel_4352/574245224.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_4.loc[l] = df_6.loc[l]
/var/folders/1s/wcz2lmzj3ql58wp26sv0rw3h0000gn/T/ipykernel_4352/574245224.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_4.loc[l] = df_6.loc[l]
/var/folders/1s/wcz2lmzj3ql58wp26sv0rw3h0000gn/T/ipykernel_4352/574245224.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_4.loc[l] = df_6.loc[l]
/var/folders/1s/wcz2lmzj3ql58wp26sv0rw3h0000gn/T/ipykernel_4352/574245224.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_4.loc[l] = df_6.loc[l]
/var/folders/1s/wcz2lmzj3ql58wp26sv0rw3h0000gn/T/ipykernel_4352/574245224.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_4.loc[l] = df_6.loc[l]
/var/folders/1s/wcz2lmzj3ql58wp26sv0rw3h0000gn/T/ipykernel_4352/574245224.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_4.loc[l] = df_6.loc[l]
/var/folders/1s/wcz2lmzj3ql58wp26sv0rw3h0000gn/T/ipykernel_4352/574245224.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_4.loc[l] = df_6.loc[l]
/var/folders/1s/wcz2lmzj3ql58wp26sv0rw3h0000gn/T/ipykernel_4352/574245224.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_4.loc[l] = df_6.loc[l]
/var/folders/1s/wcz2lmzj3ql58wp26sv0rw3h0000gn/T/ipykernel_4352/574245224.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_4.loc[l] = df_6.loc[l]
/var/folders/1s/wcz2lmzj3ql58wp26sv0rw3h0000gn/T/ipykernel_4352/574245224.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_4.loc[l] = df_6.loc[l]
/var/folders/1s/wcz2lmzj3ql58wp26sv0rw3h0000gn/T/ipykernel_4352/574245224.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_4.loc[l] = df_6.loc[l]
/var/folders/1s/wcz2lmzj3ql58wp26sv0rw3h0000gn/T/ipykernel_4352/574245224.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_4.loc[l] = df_6.loc[l]

,schluessel,straftat,sexus,tatverdaechtige_insgesamt,kinder_10_bis_unter_12,kinder_12_bis_unter_14,kinder_10_bis_unter_14,kinder_unter_14,jugendliche_14_bis_unter_16,jugendliche_16_bis_unter_18,jugendliche_14<18,heranwachsende_18_bis_unter_21,jugendl_u_heranwachsende_14_bis_unter_21,erwachsene_ab_21,year
0,------,Straftaten insgesamt,M,1541130,11882,25507,37389,48288,52244,76029,128273,147013,275286,1217556,2018
1,------,Straftaten insgesamt,W,510136,4377,12991,17368,22315,24451,24707,49158,38510,87668,400153,2018
2,------,Straftaten insgesamt,X,2051266,16259,38498,54757,70603,76695,100736,177431,185523,362954,1617709,2018
3,100000,Straftaten gegen die sexuelle Selbstbestimmung insgesamt,M,43036,310,1168,1478,1710,2861,2789,5650,4018,9668,31658,2018
4,100000,Straftaten gegen die sexuelle Selbstbestimmung insgesamt,W,2500,76,309,385,408,339,133,472,133,605,1487,2018

In [47]:
bund_jugend_tat_absolut = df_4.copy()
bund_jugend_tat_absolut.tail()

,schluessel,straftat,sexus,tatverdaechtige_insgesamt,kinder_10_bis_unter_12,kinder_12_bis_unter_14,kinder_10_bis_unter_14,kinder_unter_14,jugendliche_14_bis_unter_16,jugendliche_16_bis_unter_18,jugendliche_14<18,heranwachsende_18_bis_unter_21,jugendl_u_heranwachsende_14_bis_unter_21,erwachsene_ab_21,year
175,"010000, 020010",Mord § 211 StGBTotschlag § 212 StGB,W,308,0,5,5,5,5,6,11,23,34,269,2021
176,"010000, 020010",Mord § 211 StGBTotschlag § 212 StGB,X,2580,2,15,17,19,58,115,173,285,458,2103,2021
177,"010000, 020010",Mord § 211 StGBTotschlag § 212 StGB,M,2366,1,7,8,10,52,130,182,278,460,1896,2022
178,"010000, 020010",Mord § 211 StGBTotschlag § 212 StGB,W,323,1,7,8,8,7,7,14,19,33,282,2022
179,"010000, 020010",Mord § 211 StGBTotschlag § 212 StGB,X,2689,2,14,16,18,59,137,196,297,493,2178,2022

# Now create same DataFrame with relative numbers (cases per 100.000 residents in each age group)

In [48]:
einw_bund_geschlecht_alter = get_dataframe(f'select * from public.einw_bund_altersgruppen_geschlecht_2022_until_2018')

In [49]:
einw_bund_geschlecht_alter.head()

,sexus,stichtag,year,kinder_10_bis_unter_12,kinder_12_bis_unter_14,kinder_10_bis_unter_14,kinder_unter_14,jugendliche_14_bis_unter_16,jugendliche_16_bis_unter_18,jugendliche_14_bis_unter_18,heranwachsende_18_bis_unter_21,jugendliche_und_heranwachsende_14_bis_unter_21,erwachsene_ab_21_bzw_ueber_20,insgesamt
0,M,31.12.2017,2018,750663,759916,1510579,5356215,777037,835040,1612077,1387429,2999506,32487844,40843565
1,W,31.12.2017,2018,707164,717794,1424958,5068316,730429,771109,1501538,1244915,2746453,34134017,41948786
2,X,31.12.2017,2018,1457827,1477710,2935537,10424531,1507466,1606149,3113615,2632344,5745959,66621861,82792351
3,M,31.12.2018,2019,764922,752947,1517869,5414141,773999,804803,1578802,1358425,2937227,32615323,40966691
4,W,31.12.2018,2019,722953,709736,1432689,5125052,729974,749459,1479433,1230098,2709531,34217939,42052522

In [50]:
df_10 = einw_bund_geschlecht_alter.copy()

In [51]:
df_11 = df_10.drop(columns="stichtag")

In [52]:
columns_df_11 = df_11.columns.tolist()
columns_df_11_neu = []
for i in columns_df_11:
    if i == "sexus" or i == "year":
        columns_df_11_neu.append(i)
    else:
        a = "einw_" + i
        columns_df_11_neu.append(a)
columns_df_11_neu

['sexus',
 'year',
 'einw_kinder_10_bis_unter_12',
 'einw_kinder_12_bis_unter_14',
 'einw_kinder_10_bis_unter_14',
 'einw_kinder_unter_14',
 'einw_jugendliche_14_bis_unter_16',
 'einw_jugendliche_16_bis_unter_18',
 'einw_jugendliche_14_bis_unter_18',
 'einw_heranwachsende_18_bis_unter_21',
 'einw_jugendliche_und_heranwachsende_14_bis_unter_21',
 'einw_erwachsene_ab_21_bzw_ueber_20',
 'einw_insgesamt']

In [53]:
df_11.columns = columns_df_11_neu
df_11.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 13 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   sexus                                                15 non-null     object
 1   year                                                 15 non-null     int64
 2   einw_kinder_10_bis_unter_12                          15 non-null     int64
 3   einw_kinder_12_bis_unter_14                          15 non-null     int64
 4   einw_kinder_10_bis_unter_14                          15 non-null     int64
 5   einw_kinder_unter_14                                 15 non-null     int64
 6   einw_jugendliche_14_bis_unter_16                     15 non-null     int64
 7   einw_jugendliche_16_bis_unter_18                     15 non-null     int64
 8   einw_jugendliche_14_bis_unter_18                     15 non-null     int64
 9   einw_heranwachsende_18_bis_unter_21                  15 non-null     int64
 10  einw_jugendliche_und_heranwachsende_14_bis_unter_21  15 non-null     int64
 11  einw_erwachsene_ab_21_bzw_ueber_20                   15 non-null     int64
 12  einw_insgesamt                                       15 non-null     int64
dtypes: int64(12), object(1)
memory usage: 1.6+ KB

In [54]:
einw_bund_jugend = df_11.copy()
einw_bund_jugend

,sexus,year,einw_kinder_10_bis_unter_12,einw_kinder_12_bis_unter_14,einw_kinder_10_bis_unter_14,einw_kinder_unter_14,einw_jugendliche_14_bis_unter_16,einw_jugendliche_16_bis_unter_18,einw_jugendliche_14_bis_unter_18,einw_heranwachsende_18_bis_unter_21,einw_jugendliche_und_heranwachsende_14_bis_unter_21,einw_erwachsene_ab_21_bzw_ueber_20,einw_insgesamt
0,M,2018,750663,759916,1510579,5356215,777037,835040,1612077,1387429,2999506,32487844,40843565
1,W,2018,707164,717794,1424958,5068316,730429,771109,1501538,1244915,2746453,34134017,41948786
2,X,2018,1457827,1477710,2935537,10424531,1507466,1606149,3113615,2632344,5745959,66621861,82792351
3,M,2019,764922,752947,1517869,5414141,773999,804803,1578802,1358425,2937227,32615323,40966691
4,W,2019,722953,709736,1432689,5125052,729974,749459,1479433,1230098,2709531,34217939,42052522
5,X,2019,1487875,1462683,2950558,10539193,1503973,1554262,3058235,2588523,5646758,66833262,83019213
6,M,2020,762729,761433,1524162,5470714,770350,789370,1559720,1322840,2882560,32684339,41037613
7,W,2020,721310,716935,1438245,5180039,726979,740450,1467429,1208629,2676058,34273001,42129098
8,X,2020,1484039,1478368,2962407,10650753,1497329,1529820,3027149,2531469,5558618,66957340,83166711
9,M,2021,762929,774238,1537167,5517422,761966,784007,1545973,1275630,2821603,32687494,41026519
10,W,2021,721245,731512,1452757,5225208,717422,737919,1455341,1180943,2636284,34267020,42128512
11,X,2021,1484174,1505750,2989924,10742630,1479388,1521926,3001314,2456573,5457887,66954514,83155031
12,M,2022,764142,772076,1536218,5573236,770658,781690,1552348,1243691,2796039,32697510,41066785
13,W,2022,723124,729251,1452375,5278831,724228,734616,1458844,1158400,2617244,34274264,42170339
14,X,2022,1487266,1501327,2988593,10852067,1494886,1516306,3011192,2402091,5413283,66971774,83237124

In [55]:
df_12 = bund_jugend_tat_absolut.merge(einw_bund_jugend, how="left", on=["sexus", "year"])
df_12.reset_index(inplace=True)
df_12.drop(columns="index", inplace=True)
df_12.head()

,schluessel,straftat,sexus,tatverdaechtige_insgesamt,kinder_10_bis_unter_12,kinder_12_bis_unter_14,kinder_10_bis_unter_14,kinder_unter_14,jugendliche_14_bis_unter_16,jugendliche_16_bis_unter_18,jugendliche_14<18,heranwachsende_18_bis_unter_21,jugendl_u_heranwachsende_14_bis_unter_21,erwachsene_ab_21,year,einw_kinder_10_bis_unter_12,einw_kinder_12_bis_unter_14,einw_kinder_10_bis_unter_14,einw_kinder_unter_14,einw_jugendliche_14_bis_unter_16,einw_jugendliche_16_bis_unter_18,einw_jugendliche_14_bis_unter_18,einw_heranwachsende_18_bis_unter_21,einw_jugendliche_und_heranwachsende_14_bis_unter_21,einw_erwachsene_ab_21_bzw_ueber_20,einw_insgesamt
0,------,Straftaten insgesamt,M,1541130,11882,25507,37389,48288,52244,76029,128273,147013,275286,1217556,2018,750663,759916,1510579,5356215,777037,835040,1612077,1387429,2999506,32487844,40843565
1,------,Straftaten insgesamt,W,510136,4377,12991,17368,22315,24451,24707,49158,38510,87668,400153,2018,707164,717794,1424958,5068316,730429,771109,1501538,1244915,2746453,34134017,41948786
2,------,Straftaten insgesamt,X,2051266,16259,38498,54757,70603,76695,100736,177431,185523,362954,1617709,2018,1457827,1477710,2935537,10424531,1507466,1606149,3113615,2632344,5745959,66621861,82792351
3,100000,Straftaten gegen die sexuelle Selbstbestimmung insgesamt,M,43036,310,1168,1478,1710,2861,2789,5650,4018,9668,31658,2018,750663,759916,1510579,5356215,777037,835040,1612077,1387429,2999506,32487844,40843565
4,100000,Straftaten gegen die sexuelle Selbstbestimmung insgesamt,W,2500,76,309,385,408,339,133,472,133,605,1487,2018,707164,717794,1424958,5068316,730429,771109,1501538,1244915,2746453,34134017,41948786

In [56]:
df_12["tatverdaechtige_insgesamt_rel"] = df_12["tatverdaechtige_insgesamt"] / df_12["einw_insgesamt"] * 100000
df_12["kinder_10_bis_unter_12_rel"] = df_12["kinder_10_bis_unter_12"] / df_12["einw_kinder_10_bis_unter_12"] * 100000
df_12["kinder_12_bis_unter_14_rel"] = df_12["kinder_12_bis_unter_14"] / df_12["einw_kinder_12_bis_unter_14"] * 100000
df_12["kinder_10_bis_unter_14_rel"] = df_12["kinder_10_bis_unter_14"] / df_12["einw_kinder_10_bis_unter_14"] * 100000
df_12["kinder_unter_14_rel"] = df_12["kinder_unter_14"] / df_12["einw_kinder_unter_14"] * 100000
df_12["jugendliche_14_bis_unter_16_rel"] = df_12["jugendliche_14_bis_unter_16"] / df_12["einw_jugendliche_14_bis_unter_16"] * 100000
df_12["jugendliche_16_bis_unter_18_rel"] = df_12["jugendliche_16_bis_unter_18"] / df_12["einw_jugendliche_16_bis_unter_18"] * 100000
df_12["jugendliche_14<18_rel"] = df_12["jugendliche_14<18"] / df_12["einw_jugendliche_14_bis_unter_18"] * 100000
df_12["heranwachsende_18_bis_unter_21_rel"] = df_12["heranwachsende_18_bis_unter_21"] / df_12["einw_heranwachsende_18_bis_unter_21"] * 100000
df_12["jugendl_u_heranwachsende_14_bis_unter_21_rel"] = df_12["jugendl_u_heranwachsende_14_bis_unter_21"] / df_12["einw_jugendliche_und_heranwachsende_14_bis_unter_21"] * 100000
df_12["erwachsene_ab_21_rel"] = df_12["erwachsene_ab_21"] / df_12["einw_erwachsene_ab_21_bzw_ueber_20"] * 100000
df_12.head()

,schluessel,straftat,sexus,tatverdaechtige_insgesamt,kinder_10_bis_unter_12,kinder_12_bis_unter_14,kinder_10_bis_unter_14,kinder_unter_14,jugendliche_14_bis_unter_16,jugendliche_16_bis_unter_18,jugendliche_14<18,heranwachsende_18_bis_unter_21,jugendl_u_heranwachsende_14_bis_unter_21,erwachsene_ab_21,year,einw_kinder_10_bis_unter_12,einw_kinder_12_bis_unter_14,einw_kinder_10_bis_unter_14,einw_kinder_unter_14,einw_jugendliche_14_bis_unter_16,einw_jugendliche_16_bis_unter_18,einw_jugendliche_14_bis_unter_18,einw_heranwachsende_18_bis_unter_21,einw_jugendliche_und_heranwachsende_14_bis_unter_21,einw_erwachsene_ab_21_bzw_ueber_20,einw_insgesamt,tatverdaechtige_insgesamt_rel,kinder_10_bis_unter_12_rel,kinder_12_bis_unter_14_rel,kinder_10_bis_unter_14_rel,kinder_unter_14_rel,jugendliche_14_bis_unter_16_rel,jugendliche_16_bis_unter_18_rel,jugendliche_14<18_rel,heranwachsende_18_bis_unter_21_rel,jugendl_u_heranwachsende_14_bis_unter_21_rel,erwachsene_ab_21_rel
0,------,Straftaten insgesamt,M,1541130,11882,25507,37389,48288,52244,76029,128273,147013,275286,1217556,2018,750663,759916,1510579,5356215,777037,835040,1612077,1387429,2999506,32487844,40843565,3773.250450,1582.867412,3356.555198,2475.143637,901.532145,6723.489358,9104.833301,7957.002054,10596.073745,9177.711263,3747.727919
1,------,Straftaten insgesamt,W,510136,4377,12991,17368,22315,24451,24707,49158,38510,87668,400153,2018,707164,717794,1424958,5068316,730429,771109,1501538,1244915,2746453,34134017,41948786,1216.092404,618.951191,1809.850737,1218.842941,440.284307,3347.484834,3204.086582,3273.843219,3093.383886,3192.044430,1172.299762
2,------,Straftaten insgesamt,X,2051266,16259,38498,54757,70603,76695,100736,177431,185523,362954,1617709,2018,1457827,1477710,2935537,10424531,1507466,1606149,3113615,2632344,5745959,66621861,82792351,2477.603275,1115.290086,2605.247308,1865.314592,677.277472,5087.676936,6271.896318,5698.552968,7047.825056,6316.682733,2428.195454
3,100000,Straftaten gegen die sexuelle Selbstbestimmung insgesamt,M,43036,310,1168,1478,1710,2861,2789,5650,4018,9668,31658,2018,750663,759916,1510579,5356215,777037,835040,1612077,1387429,2999506,32487844,40843565,105.367884,41.296827,153.701199,97.843277,31.925530,368.193535,333.995976,350.479537,289.600405,322.319742,97.445678
4,100000,Straftaten gegen die sexuelle Selbstbestimmung insgesamt,W,2500,76,309,385,408,339,133,472,133,605,1487,2018,707164,717794,1424958,5068316,730429,771109,1501538,1244915,2746453,34134017,41948786,5.959648,10.747153,43.048563,27.018340,8.050011,46.411082,17.247886,31.434436,10.683460,22.028413,4.356358

In [57]:
df_12.columns

Index(['schluessel', 'straftat', 'sexus', 'tatverdaechtige_insgesamt',
       'kinder_10_bis_unter_12', 'kinder_12_bis_unter_14',
       'kinder_10_bis_unter_14', 'kinder_unter_14',
       'jugendliche_14_bis_unter_16', 'jugendliche_16_bis_unter_18',
       'jugendliche_14<18', 'heranwachsende_18_bis_unter_21',
       'jugendl_u_heranwachsende_14_bis_unter_21', 'erwachsene_ab_21', 'year',
       'einw_kinder_10_bis_unter_12', 'einw_kinder_12_bis_unter_14',
       'einw_kinder_10_bis_unter_14', 'einw_kinder_unter_14',
       'einw_jugendliche_14_bis_unter_16', 'einw_jugendliche_16_bis_unter_18',
       'einw_jugendliche_14_bis_unter_18',
       'einw_heranwachsende_18_bis_unter_21',
       'einw_jugendliche_und_heranwachsende_14_bis_unter_21',
       'einw_erwachsene_ab_21_bzw_ueber_20', 'einw_insgesamt',
       'tatverdaechtige_insgesamt_rel', 'kinder_10_bis_unter_12_rel',
       'kinder_12_bis_unter_14_rel', 'kinder_10_bis_unter_14_rel',
       'kinder_unter_14_rel', 'jugendliche_14_bis_unter_16_rel',
       'jugendliche_16_bis_unter_18_rel', 'jugendliche_14<18_rel',
       'heranwachsende_18_bis_unter_21_rel',
       'jugendl_u_heranwachsende_14_bis_unter_21_rel', 'erwachsene_ab_21_rel'],
      dtype='object')

In [58]:
df_13 = df_12[["schluessel", "straftat", "sexus", 'tatverdaechtige_insgesamt_rel', 'kinder_10_bis_unter_12_rel', 'kinder_12_bis_unter_14_rel', 'kinder_10_bis_unter_14_rel', 'kinder_unter_14_rel', 'jugendliche_14_bis_unter_16_rel', 'jugendliche_16_bis_unter_18_rel', 'jugendliche_14<18_rel', 'heranwachsende_18_bis_unter_21_rel', 'jugendl_u_heranwachsende_14_bis_unter_21_rel', 'erwachsene_ab_21_rel', "year"]]
bund_jugend_tat_relativ = df_13.copy()
bund_jugend_tat_relativ.head()

,schluessel,straftat,sexus,tatverdaechtige_insgesamt_rel,kinder_10_bis_unter_12_rel,kinder_12_bis_unter_14_rel,kinder_10_bis_unter_14_rel,kinder_unter_14_rel,jugendliche_14_bis_unter_16_rel,jugendliche_16_bis_unter_18_rel,jugendliche_14<18_rel,heranwachsende_18_bis_unter_21_rel,jugendl_u_heranwachsende_14_bis_unter_21_rel,erwachsene_ab_21_rel,year
0,------,Straftaten insgesamt,M,3773.250450,1582.867412,3356.555198,2475.143637,901.532145,6723.489358,9104.833301,7957.002054,10596.073745,9177.711263,3747.727919,2018
1,------,Straftaten insgesamt,W,1216.092404,618.951191,1809.850737,1218.842941,440.284307,3347.484834,3204.086582,3273.843219,3093.383886,3192.044430,1172.299762,2018
2,------,Straftaten insgesamt,X,2477.603275,1115.290086,2605.247308,1865.314592,677.277472,5087.676936,6271.896318,5698.552968,7047.825056,6316.682733,2428.195454,2018
3,100000,Straftaten gegen die sexuelle Selbstbestimmung insgesamt,M,105.367884,41.296827,153.701199,97.843277,31.925530,368.193535,333.995976,350.479537,289.600405,322.319742,97.445678,2018
4,100000,Straftaten gegen die sexuelle Selbstbestimmung insgesamt,W,5.959648,10.747153,43.048563,27.018340,8.050011,46.411082,17.247886,31.434436,10.683460,22.028413,4.356358,2018

# Final DataFrames to work with are:
## -   bund_jugend_tat_absolut
## -   bund_jugend_tat_relativ
### they have the same structure

In [60]:
print(bund_jugend_tat_absolut.shape)
print(bund_jugend_tat_relativ.shape)

(180, 15)
(180, 15)

In [34]:
schema='public'
table_name = 'bund_jugend_tat_relativ_2022_until_2018'
engine = get_engine()
print(engine)

Engine(postgresql://user:***@host/database)

In [35]:
if engine!=None:
    try:
        bund_jugend_tat_relativ.to_sql(table_name, # Name of SQL table
                        con=engine, # Engine or connection
                        if_exists='replace', # Drop the table before inserting new values 
                        schema=schema, # your class schema
                        index=False, # Write DataFrame index as a column
                        chunksize=5000, # Specify the number of rows in each batch to be written at a time
                        method='multi') # Pass multiple values in a single INSERT clause
        print(f"The {table_name} table was imported successfully.")
    # Error handling
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        engine = None

The bund_jugend_tat_relativ_2022_until_2018 table was imported successfully.